.a {
    width: 12px;
    height: 12px;
    transition: 0.3s;
    border-radius: 100%;
    
}
.a:hover{
    transition-duration: 0s;
}
.container {
    background: black;
    display: flex;
    flex-wrap: wrap;
}
